@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.ant-layout-header {
  height: 48px;
  padding: 0 50px;
  line-height: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header-menu .light-menu-item>*,
.header-menu .dark-menu-item>* {
  vertical-align: middle !important;
}

.checkbox-round .dark-checkbox,
.checkbox-round .light-checkbox {
  border-radius: 50%;
  overflow: hidden;
}


.rank-collapse .light-collapse-content-box,
.rank-collapse .dark-collapse-content-box {
  padding: 4px 4px !important;
  overflow: hidden;
}

.script-info-item .anticon {
  vertical-align: baseline !important;
}

.anticon-middle .anticon {
  vertical-align: baseline !important;
}

.statistic span {
  display: block;
  height: 24px;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}