@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.ant-layout-header {
  height: 48px;
  padding: 0 50px;
  line-height: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.header-menu .light-menu-item>*,
.header-menu .dark-menu-item>* {
  vertical-align: middle !important;
}

.checkbox-round .dark-checkbox,
.checkbox-round .light-checkbox {
  border-radius: 50%;
  overflow: hidden;
}


.rank-collapse .light-collapse-content-box,
.rank-collapse .dark-collapse-content-box {
  padding: 4px 4px !important;
  overflow: hidden;
}

.statistic span {
  display: block;
  height: 24px;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}

.border-start-radius-0,
.border-start-radius-0 .ant-select-selector {
  border-start-start-radius: 0 !important;
  border-end-start-radius: 0 !important;
}

.text-nowrap {
  text-wrap: nowrap;
}

.markdown-body ul {
  list-style: disc;
}

.markdown-body ol {
  list-style: decimal;
}

.dark textarea::placeholder {
  color: rgba(255, 255, 255, 0.45) !important;
}

.dark .ant-input-data-count {
  color: rgba(255, 255, 255, 0.45) !important;
}

.card-title {
  min-width: 180px;
  align-content: center;
}

/* 宽度大于768px */
@media (min-width: 768px) {
  .ant-layout {
    --ant-layout-header-height: 48px !important;
    --ant-layout-footer-padding: 24px 50px !important;
  }
  .ant-menu-css-var {
    --ant-menu-item-padding-inline: 16px !important;
    --ant-menu-icon-margin-inline-end: 10px !important;
  }
  .right-banner {
    padding-right: 16px;
  }
}
