// app global css in SCSS form
.page-padding {
  margin: auto;
  max-width: 1200px;
}

.padding-normal {
  padding: 0px 20px;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0;
}
.Author {
  color: #1976d2;
  text-decoration: underline;
}
.Author:hover {
  cursor: pointer;
}
.pagination-input {
  display: inline-block;
  width: 55px;
  margin: 0 3px;
  padding-bottom: 0px;

  div {
    height: 32px;
  }
}
.item-child-common {
  > div:first-child {
    margin-right: 5px;
    width: 60px;
    text-align: right;
  }
  width: 50%;
  display: flex;
}
@media screen and (max-width: 630px) {
  .Deatil {
    .item {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    .Item-left-box {
      width: 100% !important;
      padding-left: 25% !important;
    }
    .Item-right-box {
      width: 100% !important;
      padding-left: 25% !important;
    }
  }
}

@media screen and (max-width: 800px) {
  .Deatil {
    .Item-left-box {
      padding-left: 15% ;
    }
  }
}
.Deatil {
  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .Item-left-box {
    @extend .item-child-common;
    padding-left: 17% ;
  }
  .Item-right-box {
    @extend .item-child-common;
  }
}
.Small-Detail-Item-Padding{
  .Item-left-box {
    padding-left: 10% ;
  }
}
